<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your OTP</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }

        .email-container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: #333;

        }

        p {
            color: #555;
        }

        .otp-code {
            font-size: 24px;
            font-weight: bold;
            color: #007bff;
        }
    </style>
</head>

<body>
    <div class="email-container">
        <h2>Dear <%= userName %>,</h2>
        <p>We received a request to generate a One-Time Password OTP for your account. Please use the following OTP to
            proceed:</p>
        <p class="otp-code">Your OTP: <%= confirmationCode %>
        </p>
        <p>This OTP is valid for a single use and will expire shortly. Do not share this OTP with anyone.</p>
        <p>If you didn't request this OTP, please disregard this email.</p>
        <p>Thank you</p>
    </div>
</body>

</html>